body {
	font-size: 80%;
	font-family: Arial;
	letter-spacing: 0.15em;
	background-color: white;
}


#navigation {
	/*max-width: 940px;
	min-width: 720px;*/
	margin:	10px auto 10px auto;
	padding: 20px;
	/*border:	4px double #000;*/
	background-color: #ffffff;
	text-align: center;
}

#main {
    height: 150px;
    padding-top: 55px;
    background-color: white;
    background-image: url(../images/water3.jpg);
    background-image: center 50%;
   


}

#wrapper {
	height: 350px;
	background-color: white;
	padding-top: 50px;
	padding-left: 10px;
	padding-right: 10px;
}

#container1 {
	width: 33%;
	min-height: 250px;
	max-height: 600px;
	background-color: #909497;
	float: left;
	
}

#container2 {
	width: 33%;
	min-height: 250px;
	max-height: 600px;
	background-color: #839192;
	margin-left: 5px;
	float: left;
	
}

#container3 {
	width: 33%;
	min-height: 250px;
	max-height: 600px;
	background-color: #99A3A4;
	float: right;
	
}

#about {
	min-height: 300px;
	max-height: 600px;
	background-color: #34495E;
	position: relative;
	margin-bottom: 20px;
}

#nav {
	min-height: 300px;
	max-height: 600px;
	background-color: #2E86C1;
	position: relative;
	margin-top: 20px;
}

#nav2 {
	min-height: 300px;
	max-height: 600px;
	background-color: #DC7633;
	position: relative;
	margin-top: 20px;
}

#contact {
	min-height: 300px;
	max-height: 600px;
	background-color: #FBEEE6;
	position: relative;
	margin-top: 20px;
}

#backTotop {
	/*position: fixed bottom 2% left 2%;*/
	position:fixed; 
    z-index: 999;
    right: 20px;
    bottom: 20px;
    background-color: #76448A;  
}


h1 {
	text-align: center;
}

h2 {
	text-align: center;
	margin-top: 10px
}


p {
	width: auto;
	padding: 10px 10px 10px 10px;
}


a {
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	padding: 8px 20px 7px 20px;

}


  nav a.hover {
  	color: #cc3333;
	background-color: #ffffff;
}




